body {
    font-family: 'Arial', sans-serif;
    margin: 0;
   background-color: rgb(255, 183, 76);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #8f2727;
    image-resolution: 4000px;
  }
  
  .container {
    text-align: center;
    background-color: rgb(255, 237, 237);
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid black;
  }
  
  #container1 {
    border: 15px outset rgba(119, 119, 119, 0.9);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    border-radius: 15px;
    position: relative;
    top: 2px;
    left: 20px;
    padding: 8px;
    margin-left: 50px;
  }
  
  .container2 {
    border: solid;
    position: relative;
    top: 70px;
    padding: 15px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.85);
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    display: flex;
    border-radius: 15px;
  }
  
  .explist {
    position: relative;
    top: 80px;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  
  #expense-form {
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  #expense-form label {
    color: purple;
    font-weight: bold;
  }
  
  #word,
  #item-service {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #expense-list {
    list-style: none;
    padding: 0;
    background-color: rgba(250, 235, 215, 0.85);
    border: solid black;
    border-radius: 15px;
    margin: 0 auto; /* Center the list */
    width: 80%; /* Set the width of the list */
  }
  
  .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    color: black; /* Set the text color to black */
    flex-direction: column;
    display: flex;
    width: 100%; /* Make the item 100% width */
    box-sizing: border-box;
font-style: italic;
text-decoration-line: none;
font-size: larger;
float: ;


  }
  
  .expense-item button {
    margin-left: 10px;
    padding: 8px;
  }
  
  #total-expenses {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: purple;
      
  }
  
  .expcolor {
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.85);
    padding: 15px;
  }
  .id12{
color: blue;
  }
form
{
align-self: center;
}
h2
{
  background-color: black;
  color: azure;
  width: fit-content;
  position: relative;
  left: 175px;

}